<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLinkActive="active" routerLink="/">Home Expenses</a>

    <span class="version">(ver. {{ configService.config.APP_VERSION }})</span>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav w-100">
        <a
          *ngIf="authenticatedService.isAuthenticated"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/all-expenses"
        >
          All expenses
        </a>
        <a
          *ngIf="authenticatedService.isAuthenticated"
          class="nav-link"
          routerLinkActive="active"
          routerLink="/expenses"
        >
          Expenses (Simple)
        </a>
        <div class="d-flex flex-grow-1 justify-content-end">
          <button *ngIf="authenticatedService.isAuthenticated" type="button" class="btn btn-dark" (click)="signout()">
            Sign out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
