<div class="p-3 h-100">
  <h1>Home Expenses - UI</h1>

  <hr />

  <div class="btn-group mx-3 pb-2 mock-toggler" role="group" aria-label="Basic radio toggle button group">
    <input
      (click)="useMockedData(true)"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio1"
      autocomplete="off"
      checked
    />
    <label class="btn btn-outline-primary" for="btnradio1">Mocked data</label>

    <input
      (click)="useMockedData(false)"
      type="radio"
      class="btn-check"
      name="btnradio"
      id="btnradio2"
      autocomplete="off"
    />
    <label class="btn btn-outline-primary" for="btnradio2">Real data</label>
  </div>

  <form [formGroup]="form" class="w-100">
    <div class="d-flex justify-content-between form-direction">
      <div class="mx-3 flex-grow-1 w-100">
        <label for="date" class="form-label">Date:</label>
        <input id="date" class="form-control" type="date" formControlName="date" />
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="category" class="form-label">Category:</label>

        <select id="category" class="form-select" formControlName="category">
          <option [value]="'food'">Food</option>
          <option [value]="'housing'">Housing</option>
          <option [value]="'transportation'">Transportation</option>
        </select>
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="cost" class="form-label">Cost:</label>
        <input id="cost" class="form-control" type="number" formControlName="cost" />
      </div>

      <div class="mx-3 flex-grow-1 w-100">
        <label for="comment" class="form-label">Comment:</label>
        <input id="comment" class="form-control" formControlName="comment" />
      </div>
    </div>

    <div class="mx-3 mt-2 d-flex justify-content-between form-direction actions-container">
      <div class="action-buttons">
        <button (click)="save()" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </form>

  <ng-container *ngIf="isLoading$ | async; else showContent">
    <ng-container *ngTemplateOutlet="spinner"></ng-container>
  </ng-container>

  <ng-template #showContent>
    <ng-container *ngIf="expenses$ | async as expenses">
      <h6>Showing {{ expenses.length }} records</h6>
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Cost</th>
            <th>Comment</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of expenses">
            <td>{{ getFormattedDate(expense.date) }}</td>
            <td>{{ expense.category }}</td>
            <td>{{ expense.cost }}</td>
            <td>{{ expense.comment }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-template>
</div>

<ng-template #spinner>
  <div class="spinner-wrapper d-flex justify-content-center align-items-center flex-column">
    <div class="spinner spinner-border text-muted"></div>
  </div>
</ng-template>
